/* color-scheme
#2B2C2E /  #9FA2A7 / #27282A /  #848689 / #3D3E41 / #fff
 */

/* font-family
font-family: 'Graphik Regular';
font-family: 'Graphik Medium';
font-family: 'Teinhardt-Lt';
font-family: 'TiemposHeadline-Semibold';
 */

@font-face {
    font-family: 'Graphik Regular';
    src: url(../fonts/Graphik/Graphik-Regular.woff);
}

@font-face {
    font-family: 'Graphik Medium';
    src: url(../fonts/Graphik/Graphik-Medium.ttf);
}

@font-face {
    font-family: 'Teinhardt-Lt';
    src: url(../fonts/Teinhardt/Theinhardt-Lt.woff);
}

@font-face {
    font-family: 'TiemposHeadline-Semibold';
    src: url(../fonts/TiemposHeadline/TiemposHeadline-Semibold.woff);
}

/* =================== GLOBAL STYLES ==================== */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 1440px;
}

a{
    text-decoration: none;
}

nav a, h2 {
    font-family: 'Graphik Regular';
}

button, h4, h5, .introText, .mail {
    font-family: 'Graphik Medium';
}

h1, h3{
    font-family: 'TiemposHeadline-Semibold';
}

p, li{
    font-family: 'Teinhardt-Lt';
}

h3{
    font-size: 2.8rem;
    color: #27282A;
}

h4{
    font-size: 1.3rem;
    color: #27282A;
}

p{
    font-size: 1.2rem;
}

/* ================== HEADER STYLE =======================*/

header{
    height: 90vh;
    background-image: url(../images/home_hero.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
}

h2{
    text-align: center;
    font-size: 2rem;
    margin: 2rem 0;
}


/* NAVBAR STYLE */

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    color: #27282A;
}

.navLinks{
    margin-left: 8vw;
}

.navLinks a{
    color: #27282A;
    padding: 10px;
    margin-right: 15px;
}

h1{
    margin-right: 10%;
}

/* BUTTON STYLE */

button{
    color: #2B2C2E;
    background-color: #fff;
    margin-right: 10vw;
    border: 2px solid #27282A;
    border-radius: 5px;
    padding: 8px 50px;
}

button:hover{
    background-color: #27282A;
    color: #fff;
/* HIER MUSS NOCH EIN DELAY HIN!!!!! */
}

/* ================= MAIN STYLE =========================*/

main{
    margin: 15vh 8vw;
    border-bottom: 1px solid #848689;
}


/* INTRO STYLE */

.intro{
    display: flex;
    justify-content: space-between;
    color: #2B2C2E;
    margin-bottom: 10vh;
}

.introText{
    width: 50vw;
    line-height: 1.4em;
}

.flat{
    margin-right: 15%;
}

.price{
    font-size: 3rem;
}

.flatrate{
    color: #9FA2A7;
    width: 14vw;
}


/* DELIVERABLES STYLE */

.deliverables{
    background: no-repeat url(../images/home_deliverables.png) left;
    background-size: 40%;
    margin-bottom: 10vh;
}

.delText{
    margin-left: 50%;
}

.delText *{
    margin-bottom: 3vh;
}

.delText p{
    color:#9FA2A7;
}

/* ABOUT STYLE */

.about{
    background-color: #f1f1f4;
    margin-bottom: 10vh;
    padding: 0 5vw 8vh;
}

.aboutTexT{
    background: no-repeat url(../images/home_how_it_works.png) top right;
    background-size: 50%;
}

.aboutTexT h3:first-of-type{
    padding: 5vh 0 2vh;
}

.aboutTexT h3:last-of-type{
    padding: 2vh 0;
}

.aboutTexT ol{
    width: 30vw;
    margin-left: 2vw;
}

.aboutTexT p, li{
    color: #9FA2A7;
}

.aboutTexT p{
    width: 30vw;
}

/* CRITIQUE STYLE */

.critique{
    text-align: center;
    margin-bottom: 10vh;
}

.critique h3{
    padding: 25px;
}

.critique p{
    color:#9FA2A7;
    width: 40vw;
    line-height: 1.8em;
    margin: auto;
}


/* CONVERSION STYLE */

.conversion{
    height: 60vh;
    background:no-repeat url(../images/28.png) top center;
    margin-bottom: 20vh;
    display: flex;
    justify-content: center;
}

h5{
    color: #9FA2A7;
    font-size: 1.3rem;
    line-height: 2em;
    width: 30vw;
    padding-top: 26vh;
    margin: 10vh 0 10vh;
}

.conversionImg{
    width: 50%;
    background: no-repeat url(../images/home_conversion.png) right bottom;
    background-size: 90%;
}

/* ================ FOOTER STYLE ======================== */

footer{
    text-align: center;
    color: #9FA2A7;
    margin-bottom: 10vh;
}

.mail{
    background: no-repeat url(../images/costume_guy.png);
    background-size: 7%;
    background-position: left 35vw bottom;
    padding-top: 20vh;
    font-size: 0.8rem;
}

.mailColor{
    color: #27282A;
}

/* ================== MEDIA QUERIES FOR 576px================ */

@media only screen and (max-width:576px){

    h3{
        font-size: 2rem;
    }

    h4{
        font-size: 1rem;
    }

    p, li{
        font-size: 0.8rem;
    }

/* ================== HEADER 576px ========================= */

header{
    height: 50vh;
}

h2{
    font-size: 1.5rem;
}

/* NAVBAR STYLE 576px - Hätte lieber eine Hamburgernavigation */ 

nav{
    padding: 5px;
}
.navLinks{
    margin-left: 2vw;
}

.navLinks a{
    padding: 10px;
    margin-right: 0;
}

button{
    margin-right: 2vw;
}

/* ================= MAIN 576px =========================*/

main{
    margin: 5vh 4vw;
}


/* INTRO STYLE */

.introText{
    width: 55vw;
}

.flat{
    margin-right: 2vw;
}

.flatrate{
    width: 25vw;
}


/* DELIVERABLES STYLE 576px*/

.deliverables{
    background-size: 50%;
}

/* ABOUT STYLE  576px */

.aboutTexT{
    background-position: center right ;
    background-size: 60%;
    line-height: 1.3em;
}

.aboutTexT ol{
    width: 30vw;
    margin-left: 2vw;
}


/* CRITIQUE STYLE  576px*/

.critique p{
    width: 70vw;
}


/* CONVERSION STYLE  576px*/

.conversion{
    height: 35vh;
    background-size: contain;
    margin-bottom: 0;
}

h5{
    font-size: 1rem;
    line-height: 1.5em;
    width: 50vw;
    padding-top: 4vh;
}

.conversionImg{
    width: 70%;
    background-position: center;
}

/* FOOTER STYLE 576px */

.mail{
    background-size: 15%;
    background-position: left 15vw bottom;
}

}